---
import Button from './ui/Button.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen"
>
	<Button size={'lg'} style={'primary'} name="Contact">Say hello!</Button>
	<hr class="w-1/2" />
	
</section>
